<img style="float: left;;" src='Imagenes/iteso.jpg' width="50" height="100"/></a>

# <center> <font color= #000047> Introducción a Python: Listas, Iteraciones y Strings


<img style="float: right; margin: 0px 0px 15px 15px;" src="https://www.python.org/static/community_logos/python-logo.png" width="200px" height="200px" />

> Ya conocemos un poco más de la sintaxis de Python, como hacer funciones y como usar condicionales. Es hora que veamos otros tipos de variables (arreglos) y cómo hacer líneas de código que ejecuten operaciones repetitivas.

Referencias:
- https://www.kaggle.com/learn/python
___

# 1. Listas

Las listas son objetos en Python representan secuencias ordenadas de valores. 

Veamos un par de ejemplos de como crearlas:

In [1]:
# Primeros números primos
primos = [2,5,3,7]
# Planetas del sistema solar
planetas = ['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [2]:
primos

[2, 5, 3, 7]

In [3]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [4]:
type(3)

int

In [5]:
type(primos)

list

In [6]:
type(planetas)

list

Vemos que las listas no son exclusivamente de números. 

Ya vimos listas de números, pero también de strings.

Incluso, se pueden hacer listas de listas:

In [7]:
lista_primos_planetas = [primos, planetas,2.0, True]

In [8]:
lista_primos_planetas

[[2, 5, 3, 7],
 ['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno'],
 2.0,
 True]

Aún más, se pueden hacer listas de diferentes tipos de objetos:

In [9]:
lista_dif_obj = [2,1.5,'Hola', help, max, primos,[2,5,9]]
lista_dif_obj

[2,
 1.5,
 'Hola',
 Type help() for interactive help, or help(object) for help about object.,
 <function max>,
 [2, 5, 3, 7],
 [2, 5, 9]]

In [10]:
a=1
B=0.25
Nombre='Gaddiel'
lista = [a,B,Nombre]

In [11]:
lista

[1, 0.25, 'Gaddiel']

Sin duda, en muchas ocasiones nos será muy útil tener una sola lista guardando varios resultados, que muchos resultados guardados en objetos individuales.

Pero, una vez en la lista, ¿cómo accedemos a los objetos individuales?

## 1.1 Indizado

Podemos acceder a los elementos individuales pertenecientes a la lista a través de brackets ([])

Por ejemplo, ¿cuál planeta está más cercano al sol en nuestro sistema solar?

- Acá una nota importante: Python usa índices comenzando en cero (0):

In [12]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [13]:
# Planeta más cercano al sol
planetas[0]

'Mercurio'

In [14]:
# Siguiente planeta
planetas[1]

'Venus'

Todo bien...

Ahora, ¿cuál es el planeta más alejado del sol?

- Los elementos de una lista pueden tambien ser accedidos de atrás para adelante, utilizando números negativos:

In [15]:
# Planeta más alejado del sol
planetas[6]

'Neptuno'

In [16]:
planetas[-1]

'Neptuno'

In [17]:
# Segundo planeta más alejado
planetas[-2], planetas[5]

('Urano', 'Urano')

Muy bien...

Y si quisiéramos averiguar, por ejemplo, ¿cuáles son los tres planetas más cercanos al sol?

In [18]:
# Tres primeros planetas
planetas[0],planetas[1],planetas[2]

('Mercurio', 'Venus', 'Tierra')

In [19]:
planetas[3]

'Jupiter'

In [20]:
planetas[0:3]

['Mercurio', 'Venus', 'Tierra']

In [21]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [22]:
planetas[2:6]

['Tierra', 'Jupiter', 'Saturno', 'Urano']

Entonces `lista[a:b]` es nuestra manera de preguntar por todos los elementos de la lista con índice comenzando en `a` y continuando hasta `b` sin incluir (es decir, hasta `b-1`).

Los índices de comienzo y de término son opcionales:
- Si no ponemos el índice de inicio, se asume que es cero (0): `lista[:b] == lista[0:b]`

In [23]:
# Reescribir la expresión anterior
planetas[0:3]

['Mercurio', 'Venus', 'Tierra']

In [24]:
planetas[:3]

['Mercurio', 'Venus', 'Tierra']

- Equivalentemente, si no ponemos el índice de fin, se asume que este equivale a la longitud de la lista:

In [25]:
# Lista de todos los planetas comenzando desde el planeta tierra
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [26]:
planetas[3:7]

['Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [27]:
planetas[3:]

['Jupiter', 'Saturno', 'Urano', 'Neptuno']

También podemos usar índices negativos cuando accedemos a varios objetos.

Por ejemplo, ¿qué obtenemos con las siguientes expresión?

In [28]:
planetas[:-2]

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno']

```python
lista[n:n + N] = [lista[n], lista[n + 1], ..., lista[n + N - 1]]
```

In [29]:
n = 2
N = 3
planetas[n:n+N]

['Tierra', 'Jupiter', 'Saturno']

Slice:

```python
lista[n:n+N:s] = [lista[n], lista[n + s], lista[n + 2 * s], ..., ]
```

In [30]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [31]:
planetas[0:7:2]

['Mercurio', 'Tierra', 'Saturno', 'Neptuno']

In [32]:
planetas[::2]

['Mercurio', 'Tierra', 'Saturno', 'Neptuno']

In [33]:
planetas[::3]

['Mercurio', 'Jupiter', 'Neptuno']

In [34]:
# Elementos de la lista en reverso (al revés)
primos

[2, 5, 3, 7]

In [35]:
primos[::-1]

[7, 3, 5, 2]

## 1.2 Modificando listas

Las listas son objetos "mutables", es decir, sus objetos pueden ser modificados directamente en la lista.

Una manera de modificar una lista es asignar a un índice.

Por ejemplo, supongamos que la comunidad científica, con argumentos basados en la composición del planeta, decidió modificar el nombre de "Planeta Tierra" a "Planeta Agua".

In [36]:
planetas[2] = 'Agua'

In [37]:
planetas

['Mercurio', 'Venus', 'Agua', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

También podemos cambiar varios elementos de la lista a la vez:

In [38]:
planetas

['Mercurio', 'Venus', 'Agua', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [39]:
planetas[0:3] = ['Mer', 'Ven', 'Tier']
planetas

['Mer', 'Ven', 'Tier', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [40]:
# Planetas del sistema solar
planetas = ['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [41]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

## 1.3 Funciones sobre listas

Python posee varias funciones supremamente útiles para trabajar con listas.

`len()` nos proporciona la longitud (número de elementos) de una lista:

In [42]:
# función len()
len([1,2,3])

3

In [43]:
len(planetas), len(primos)

(7, 4)

`sorted()` nos regresa una versión ordenada de una lista:

In [44]:
# Ayuda en la función sorted
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [45]:
# Llamar la función sorted sobre primos
sorted(primos)

[2, 3, 5, 7]

In [46]:
sorted(primos, reverse=True)

[7, 5, 3, 2]

In [47]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [48]:
# Llamar la función sorted sobre planetas
sorted(planetas)

['Jupiter', 'Mercurio', 'Neptuno', 'Saturno', 'Tierra', 'Urano', 'Venus']

In [49]:
lista2 = ['a','asas','se','afdffg']

In [50]:
sorted(lista2)

['a', 'afdffg', 'asas', 'se']

In [51]:
def long_str(s):
    return len(s)

In [52]:
long_str('asas')

4

In [53]:
sorted(lista2, key=long_str)

['a', 'se', 'asas', 'afdffg']

In [54]:
sorted(planetas, key=long_str)

['Venus', 'Urano', 'Tierra', 'Jupiter', 'Saturno', 'Neptuno', 'Mercurio']

In [55]:
sorted(planetas, key=len)

['Venus', 'Urano', 'Tierra', 'Jupiter', 'Saturno', 'Neptuno', 'Mercurio']

**Paréntesis: Funciones anónimas**

Las funciones anónimas comienzan con la palabra clave `lambda` seguidas por el (los) argumento(s) de la función. Después de `:` se escribe lo que retorna la función.

In [81]:
long_str2 = lambda s: len(s)

In [82]:
long_str('nsdsd')

5

In [83]:
long_str2('nsdsd')

5

`sum()`, ya se imaginarán que hace:

In [85]:
primos

[2, 5, 3, 7]

In [84]:
# Ayuda en la función sum
sum(primos)

17

In [86]:
# sum
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

En la clase pasada utilizamos las funciones `min()` y `max()` sobre varios argumentos.

También le podemos pasar un solo argumento tipo lista.

In [89]:
primos

[2, 5, 3, 7]

In [87]:
# min
min(primos)

2

In [88]:
# max
max(primos)

7

___
## Pausa: Objetos

Hasta ahora he venido utilizando la palabra **objeto** sin darle mucha importancia. ¿Qué significa en realidad?

- si han visto algo de Python, pueden haber escuchado que todo en Python es un objeto.

En la siguiente semana estudiaremos a nivel muy básico qué es la programación orientada a objetos.

Por ahora, nos basta con saber que los objetos cargan varias "cosas" con ellos, y podemos acceder a estas "cosas" utilizando la "sintaxis punto (.)" de Python.

Por ejemplo, los números en Python tienen una variable asociada llamada `imag`, la cual representa su parte imaginaria:

In [90]:
# Atributos real e imag
a = 7

In [91]:
type(a)

int

In [92]:
a.imag, a.real

(0, 7)

Entre las "cosas" que los objetos cargan, también pueden haber funciones. 

Una función asociada a un objeto se llama **método**.

Las "cosas" asociadas a los objetos, que no son funciones, son llamados **atributos** (ejemplo: imag).

In [93]:
# Método conjugate()
a = (6 + 5j)/3
a

(2+1.6666666666666667j)

In [94]:
a.imag, a.real

(1.6666666666666667, 2.0)

In [95]:
b = 10
b

10

In [96]:
b.imag, b.real

(0, 10)

In [97]:
b.numerator, b.denominator

(10, 1)

In [98]:
a

(2+1.6666666666666667j)

In [99]:
a.conjugate()

(2-1.6666666666666667j)

Y si no sabemos qué hace un método determinado en un objeto, también podemos pasar métodos a la función `help()`, de la misma manera en que le pasamos funciones:

In [100]:
# help(objeto.metodo)
help(a.conjugate)

Help on built-in function conjugate:

conjugate(...) method of builtins.complex instance
    complex.conjugate() -> complex

    Return the complex conjugate of its argument. (3-4j).conjugate() == 3+4j.

Bueno, ¿y esto de que nos sirve?

Pues las listas tienen una infinidad de métodos útiles que estaremos usando...
___

## 1.4 Métodos de las listas

`list.append()` modifica una lista añadiéndole un elemento en el final:

In [101]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [102]:
# Plutón también es un planeta
planetas.append('Plutón')

In [103]:
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Plutón']

¿Porqué no obtuvumos una salida en la celda de arriba?

Verifiquemos la documentación del método append:

In [104]:
help(planetas.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [105]:
type(planetas)

list

In [106]:
help(list.append)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

In [107]:
help(append)

NameError: name 'append' is not defined

**Comentario:** append es un método de todos los objetos tipo `list`, de manera que habríamos podido llamar `help(list.append)`. Sin embargo, si intentamos llamar `help(append)`, Python nos dirá que no existe nada con el nombre "append", pues `append` solo existe en el contexto de listas.

`list.pop()` remueve y devuelve el último elemento de una lista:

In [108]:
# Que Plutón siempre no es un planeta
planetas.pop()

'Plutón'

In [109]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [110]:
help(planetas.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [111]:
planetas[-1]

'Neptuno'

In [112]:
planetas.pop(-2)

'Urano'

In [113]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Neptuno']

In [114]:
planetas.pop(1)

'Venus'

In [115]:
planetas

['Mercurio', 'Tierra', 'Jupiter', 'Saturno', 'Neptuno']

### 1.4.1 Buscando en listas

¿En qué lugar de los planetas se encuentra la Tierra? Podemos obtener su índice usando el método `list.index()`:

In [116]:
planetas =['Mercurio',
 'Venus',
 'Tierra',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Plutón']
planetas

['Mercurio',
 'Venus',
 'Tierra',
 'Jupiter',
 'Saturno',
 'Urano',
 'Neptuno',
 'Plutón']

In [119]:
# índice del planeta tierra
planetas.index('Tierra')

2

In [120]:
planetas[planetas.index('Tierra')]

'Tierra'

Está en el tercer lugar (recordar que el indizado en Python comienza en cero)

¿En qué lugar está Plutón?

In [121]:
# índice del planeta plutón
planetas.pop()

'Plutón'

In [122]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [123]:
planetas.index('Plutón')

ValueError: 'Plutón' is not in list

<font color=red> Error ... </font> ¡como debe ser!

Para evitar este tipo de errores, existe el operador `in` para determinar si un elemento particular pertenece a una a una lista:

In [126]:
'Tierra' in planetas

True

In [127]:
# ¿Es la Tierra un planeta?
'Tierra' in planetas

True

In [128]:
# ¿Es Plutón un planeta?
'Plutón' in planetas

False

In [130]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [129]:
# Usar esto para evitar el error de arriba
if 'Plutón' in planetas:
    planetas.index('Plutón')
else:
    print('Plutón no es un planeta (No se encuentra en la lista de planetas)')

Plutón no es un planeta (No se encuentra en la lista de planetas)

In [131]:
def is_planet(plt, planetas):
    if plt in planetas:
        planetas.index(plt)
    else:
        print(f'{plt} no es un planeta')
    
    return planetas

In [132]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [133]:
is_planet('Plutón', planetas)

Plutón no es un planeta

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [134]:
is_planet('Luna', planetas)

Luna no es un planeta

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

Hay otros métodos interesantes de las listas que no veremos. Si quieren aprende más acerca de todos los métodos y atributos de un objeto particular, podemos llamar la función `help()` sobre el objeto.

Por ejemplo:

In [136]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

## 1.5 Tuplas

También son arreglos de objetos similares a las listas. Se diferencian en dos maneras:

- La sintaxis para crear tuplas usa paréntesis (o nada) en vez de brackets:

In [137]:
l = [1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [139]:
l[2] = 10
l

[1, 2, 10, 4, 5]

In [138]:
# O equivalentemente
t = (1,2,3,4,5,6)
t

(1, 2, 3, 4, 5, 6)

- Las tuplas, a diferencia de las listas, no pueden ser modificadas (son objetos inmutables):

In [140]:
# Intentar modificar una tupla
t[2] = 10

TypeError: 'tuple' object does not support item assignment

In [142]:
t2 = 1,2,3,4,5,6   # (1,2,3,4,5,6)
t2

(1, 2, 3, 4, 5, 6)

In [143]:
t[1:5]

(2, 3, 4, 5)

Las tuplas son usadas comúnmente para funciones que devuelven más de un valor.

Por ejemplo, el método `as_integer_ratio()` de los objetos `float`, devuelve el numerador y el denominador en la forma de una tupla:

In [144]:
# as_integer_ratio
a = 2.5
a

2.5

In [145]:
type(a)

float

In [146]:
a.as_integer_ratio()

(5, 2)

In [152]:
num,den= a.as_integer_ratio()

In [153]:
num

5

In [154]:
den

2

In [151]:
# Ayuda en el método float.as_integer_ratio
help(float.as_integer_ratio)

Help on method_descriptor:

as_integer_ratio(self, /)
    Return integer ratio.

    Return a pair of integers, whose ratio is exactly equal to the original float
    and with a positive denominator.

    Raise OverflowError on infinities and a ValueError on NaNs.

    >>> (10.0).as_integer_ratio()
    (10, 1)
    >>> (0.0).as_integer_ratio()
    (0, 1)
    >>> (-.25).as_integer_ratio()
    (-1, 4)

También pueden ser usadas como un atajo:

In [155]:
a = (1,2)
b = (0,'A')

a,b =b,a
print(a,b)

(0, 'A') (1, 2)

# 2. Ciclos o iteraciones

## 2.1 Ciclos `for`

Las iteraciones son una manera de ejecutar cierto bloque de código repetidamente:

In [156]:
# Planetas, de nuevo
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [157]:
# Imprimir todos los planetas en la misma línea
for plt in planetas:
    print(plt, end = ', ')

Mercurio, Venus, Tierra, Jupiter, Saturno, Urano, Neptuno,

In [158]:
len(planetas)

7

In [159]:
for i in range(0,len(planetas)): #0,1,2,3...,7
    print(planetas[i], end=', ')

Mercurio, Venus, Tierra, Jupiter, Saturno, Urano, Neptuno,

Para construir un ciclo `for`, se debe especificar:

- el nombre de la variable que va a iterar (planeta),

- el conjunto de valores sobre los que va a iterar la variable (planetas).

Se usa la palabra `in`, en este caso, para hacerle entender a Python que *planeta* va a iterar sobre *planetas*.

El objeto a la derecha de la palabra `in` puede ser cualquier objeto **iterable**. Básicamente, un iterable es cualquier arreglo (listas, tuplas, conjuntos, arreglos de numpy, series de pandas...).

Por ejemplo, queremos hallar la multiplicación de todos los elementos de la siguiente tupla.

In [165]:
multiplicandos = (2,2,2,3,3,5,8)
multiplicandos

(2, 2, 2, 3, 3, 5, 8)

In [166]:
2*2*2*3*3*5

360

In [167]:
# Multiplicación como ciclo
producto = 1
for n in multiplicandos:
    producto = producto * n
producto

2880

Incluso, podemos iterar sobre los caracteres de un string:

In [170]:
# Imprimir solo los caracteres en mayúscula, sin espacios, uno seguido de otro
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
for char in s:
    print(char if char.isupper() else '', end='')

HELLO

In [171]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
for char in s:
    #print(char if char.isupper() else '', end='')
    if char.isupper():
        print(char, end='')
    else:
        print('', end='')

HELLO

In [169]:
s.upper()

'STEGANOGRAPHY IS THE PRACTICE OF CONCEALING A FILE, MESSAGE, IMAGE, OR VIDEO WITHIN ANOTHER FILE, MESSAGE, IMAGE, OR VIDEO.'

### 2.1.1 Función `range()`

La función `range()` es una función que devuelve una secuencia de números. Es extremadamente útil para escribir ciclos for.

Por ejemplo, si queremos repetir una acción 5 veces:

In [176]:
# For de 5 iteraciones
for i in range(0,8,3):
    print('Hola ',i)

Hola  0
Hola  3
Hola  6

In [173]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [180]:
lista_range = list(range(0,21,2))
lista_range

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**Actividad:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `for`.

In [181]:
# Código aquí
def fibonacci_for(n):
    if n==1:
        fibonacci = [0]
    elif n==2:
        fibonacci = [0,1]
    elif n>=3:
        fibonacci = [0,1]
        for i in range(n-2):
            fibonacci.append(fibonacci[-2] + fibonacci[-1])
    return fibonacci[1:]

In [182]:
fibonacci_for(8)

[1, 1, 2, 3, 5, 8, 13]

In [ ]:
# Prueba de escritorio Cuando n=8
# fibonacci = [0,1]
# i = 0
# fibonacci = [0,1] + [1] -----> [0,1,1]
# i =1
# fibonacci = [0,1,1] + [1+1] ---> [0,1,1,2]
# i =2
#fibonacci = [0,1,1,2] + [1+2] ---> [0,1,1,2,3]
#...
# i=5

## 2.2 Ciclos `while`

Son otro tipo de ciclos en Python, los cuales iteran hasta que cierta condición deje de cumplirse.

Por ejemplo:

In [183]:
i = 10
listaw = []
while i>=0:
    print(i, end=' ')
    i = i - 1
    listaw.append(i)

print(listaw)

10 9 8 7 6 5 4 3 2 1 0 [9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1]

In [185]:
#while True:
#    print('hola')

El argumento de un ciclo `while` se evalúa como una condición lógica, y el ciclo se ejecuta hasta que dicha condición sea **False**.

**Ejercicio:**

1. Escribir una función que devuelva los primeros $n$ elementos de la sucesión de Fibonacci, usando un ciclo `while`.

2. Escribir una función que devuelva los elementos menores a cierto número $x$ de la sucesión de Fibonacci, usando un ciclo `while`.

In [186]:
def fibonacci_while(n):
    if n==1:
        fibonacci=[0]
    elif n==2:
        fibonacci=[0,1]
    elif n>=3:
        i=2
        fibonacci=[0,1]
        while i<n:
            fibonacci.append(fibonacci[-2] + fibonacci[-1])
            i = i + 1
    return fibonacci[1:]

In [187]:
fibonacci_while(8)

[1, 1, 2, 3, 5, 8, 13]

## Pausa: Recursión

Una manera adicional de ejecutar iteraciones se conoce como *recursión*, y sucede cuando definimos una función en términos de sí misma.

Por ejemplo, el $n$-ésimo número de la secuencia de Fibonacci, recursivamente sería:

In [188]:
def fibonacci_recursion(n):
    if n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonacci_recursion(n-1) + fibonacci_recursion(n-2)

In [190]:
# [1, 1, 2, 3, 5, 8, 13]
fibonacci_recursion(8)

13

In [ ]:
# n = 4
# fibonacci_recursion(4)  (2)
#       fibonacci_recursion(3) (1) + fibonacci_recursion(2)  (1)  ---> 2
#          fibonacci_recursion(3) (1)----->     fibonacci_recursion(2) (1) + fibonacci_recursion(1)  (0) ---> 1
#                                            fibonacci_recursion(2)-->1 , fibonacci_recursion(1) -->0

## 2.3 List comprehensions (no encuentro una traducción suficientemente buena de esto)

List comprehension son una de las características más chidas de Python. La manera más fácil de entenderla, como muchas cosas, es revisando ejemplos:

In [197]:
lista = [1,2,3,4,5,6,10]

In [199]:
# Primero, con ciclo for: listar los cuadrados de los 10 dígitos
sq = []
for i in range(1,lista[-1]):
    print(i, end=' ')
    sq.append(i**2)

print(sq)

1 2 3 4 5 6 7 8 9 [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [200]:
# Ahora con una list comprehension
sq = [i**2 for i in range(1,lista[-1])]
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81]

Podemos agregar, incluso, condicionales:

In [201]:
planetas

['Mercurio', 'Venus', 'Tierra', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [203]:
# Ejemplo con los planetas
lista_planetas = [plt for plt in planetas if len(plt)<7]
lista_planetas

['Venus', 'Tierra', 'Urano']

In [204]:
lista_planetas=[]
for plt in planetas:
    if len(plt)<7:
        lista_planetas.append(plt)

lista_planetas

['Venus', 'Tierra', 'Urano']

Se puede usar para dar formato:

In [209]:
s = 'gaddiel'
s.upper(), s.capitalize(), s.lower()

('GADDIEL', 'Gaddiel', 'gaddiel')

In [210]:
# str.upper()
upper_planetas = [plt.upper() for plt in planetas]
upper_planetas

['MERCURIO', 'VENUS', 'TIERRA', 'JUPITER', 'SATURNO', 'URANO', 'NEPTUNO']

In [212]:
 [plt.lower() for plt in planetas]

['mercurio', 'venus', 'tierra', 'jupiter', 'saturno', 'urano', 'neptuno']

Es supremamente importante aprender esto, ya que es ampliamente utilizado y ayuda a reducir muchísimas líneas de código.

Ejemplo: escribir la siguiente función usando un ciclo for.

In [213]:
def cuentos_negativos(lista_it):
    c_n = 0
    for num in lista_it:
        if num < 0:
            c_n = c_n + 1
    return c_n

In [216]:
lista_np = list(range(-155,250,3))
lista_np

[-155,
 -152,
 -149,
 -146,
 -143,
 -140,
 -137,
 -134,
 -131,
 -128,
 -125,
 -122,
 -119,
 -116,
 -113,
 -110,
 -107,
 -104,
 -101,
 -98,
 -95,
 -92,
 -89,
 -86,
 -83,
 -80,
 -77,
 -74,
 -71,
 -68,
 -65,
 -62,
 -59,
 -56,
 -53,
 -50,
 -47,
 -44,
 -41,
 -38,
 -35,
 -32,
 -29,
 -26,
 -23,
 -20,
 -17,
 -14,
 -11,
 -8,
 -5,
 -2,
 1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100,
 103,
 106,
 109,
 112,
 115,
 118,
 121,
 124,
 127,
 130,
 133,
 136,
 139,
 142,
 145,
 148,
 151,
 154,
 157,
 160,
 163,
 166,
 169,
 172,
 175,
 178,
 181,
 184,
 187,
 190,
 193,
 196,
 199,
 202,
 205,
 208,
 211,
 214,
 217,
 220,
 223,
 226,
 229,
 232,
 235,
 238,
 241,
 244,
 247]

In [214]:
cuentos_negativos([1,2,-3,-5,7,4,1])

2

In [217]:
cuentos_negativos(lista_np)

52

In [ ]:
c_n = 0
    for num in lista_it:
        if num < 0:
            c_n = c_n + 1

In [219]:
lista_np.sort()

In [221]:
lista_np.append(0)

In [222]:
lista_np

[-155,
 -152,
 -149,
 -146,
 -143,
 -140,
 -137,
 -134,
 -131,
 -128,
 -125,
 -122,
 -119,
 -116,
 -113,
 -110,
 -107,
 -104,
 -101,
 -98,
 -95,
 -92,
 -89,
 -86,
 -83,
 -80,
 -77,
 -74,
 -71,
 -68,
 -65,
 -62,
 -59,
 -56,
 -53,
 -50,
 -47,
 -44,
 -41,
 -38,
 -35,
 -32,
 -29,
 -26,
 -23,
 -20,
 -17,
 -14,
 -11,
 -8,
 -5,
 -2,
 1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100,
 103,
 106,
 109,
 112,
 115,
 118,
 121,
 124,
 127,
 130,
 133,
 136,
 139,
 142,
 145,
 148,
 151,
 154,
 157,
 160,
 163,
 166,
 169,
 172,
 175,
 178,
 181,
 184,
 187,
 190,
 193,
 196,
 199,
 202,
 205,
 208,
 211,
 214,
 217,
 220,
 223,
 226,
 229,
 232,
 235,
 238,
 241,
 244,
 247,
 0]

In [223]:
lista_np.sort()

In [224]:
lista_np

[-155,
 -152,
 -149,
 -146,
 -143,
 -140,
 -137,
 -134,
 -131,
 -128,
 -125,
 -122,
 -119,
 -116,
 -113,
 -110,
 -107,
 -104,
 -101,
 -98,
 -95,
 -92,
 -89,
 -86,
 -83,
 -80,
 -77,
 -74,
 -71,
 -68,
 -65,
 -62,
 -59,
 -56,
 -53,
 -50,
 -47,
 -44,
 -41,
 -38,
 -35,
 -32,
 -29,
 -26,
 -23,
 -20,
 -17,
 -14,
 -11,
 -8,
 -5,
 -2,
 0,
 1,
 4,
 7,
 10,
 13,
 16,
 19,
 22,
 25,
 28,
 31,
 34,
 37,
 40,
 43,
 46,
 49,
 52,
 55,
 58,
 61,
 64,
 67,
 70,
 73,
 76,
 79,
 82,
 85,
 88,
 91,
 94,
 97,
 100,
 103,
 106,
 109,
 112,
 115,
 118,
 121,
 124,
 127,
 130,
 133,
 136,
 139,
 142,
 145,
 148,
 151,
 154,
 157,
 160,
 163,
 166,
 169,
 172,
 175,
 178,
 181,
 184,
 187,
 190,
 193,
 196,
 199,
 202,
 205,
 208,
 211,
 214,
 217,
 220,
 223,
 226,
 229,
 232,
 235,
 238,
 241,
 244,
 247]

In [225]:
lista_np.index(0)

52

In [226]:
lista_np[52]

0

In [227]:
lista_np[:52]

[-155,
 -152,
 -149,
 -146,
 -143,
 -140,
 -137,
 -134,
 -131,
 -128,
 -125,
 -122,
 -119,
 -116,
 -113,
 -110,
 -107,
 -104,
 -101,
 -98,
 -95,
 -92,
 -89,
 -86,
 -83,
 -80,
 -77,
 -74,
 -71,
 -68,
 -65,
 -62,
 -59,
 -56,
 -53,
 -50,
 -47,
 -44,
 -41,
 -38,
 -35,
 -32,
 -29,
 -26,
 -23,
 -20,
 -17,
 -14,
 -11,
 -8,
 -5,
 -2]

In [228]:
len(lista_np[:52])

52

Ahora, con list comprehensions:

In [232]:
def cuantos_negativos_list_c(lista_it):
    lista_it.append(0)
    lista_it.sort()
    index_cero = lista_it.index(0)
    negativos = lista_it[:index_cero]
    
    c_negativos = len(negativos)
    return c_negativos

In [233]:
# Probar la función
cuantos_negativos_list_c(lista_np)

52

In [235]:
cuantos_negativos_list_c([-1,2,0,3,1,-1,9]) #--->-1,-1,0,0,1,2,3,9

2

In [250]:
def cuantos_negativos_list_c(lista_it):
    negativos = [1 for num in lista_it if num<0]
    c_negativos = sum(negativos)
    return c_negativos

In [251]:
cuantos_negativos_list_c([-1,2,0,3,1,-1,9])

2

In [252]:
def cuantos_negativos_list_c(lista_it):
    negativos = ['num' for num in lista_it if num<0]
    print(negativos)
    c_negativos = len(negativos)
    return c_negativos

In [253]:
cuantos_negativos_list_c([-1,2,0,3,1,-1,9])

['num', 'num']

2

# 3. Strings y diccionarios

## 3.1 Strings

Si hay algo en lo que Python es la ley es manipulando Strings. En esta sección veremos algunos de los métodos de los objetos tipo string, y operaciones de formateo (muy útiles en la limpieza de bases de datos, por cierto).

### 3.1.1 Sintaxis string

Ya hemos visto varios ejemplos involucrando strings anteriormente. Solo para recordar:

In [254]:
x = 'Hola a todos'
y = "Hola a todos"

x==y

True

Hay casos particulares para preferir una u otra:

- Las comillas dobles son convenientes si tu string contiene un apóstrofe.

- De manera similar, se puede crear fácilmente un string que contiene comillas dobles englobándolo en comillas simples.

Ejemplos:

In [255]:
s = "Pluto's a planet!"
print(s)

Pluto's a planet!

In [257]:
s= "Pluto's a planet!"

In [258]:
s2 = ' My dog is named "pluto" '
s2

' My dog is named "pluto" '

### 3.1.2 Los strings son iterables

Los objetos tipo strings son cadenas de caracteres. Casi todo lo que vimos que le podíamos aplicar a una lista, se lo podemos aplicar a un string.

In [259]:
# string de ejemplo
s1 = "Esto es un ejemplo"
s1

'Esto es un ejemplo'

In [263]:
# Indexado
s1[-5]

'e'

In [264]:
# Indexado multiple
s1[5:10]

'es un'

In [265]:
# ¿Cuántos caracteres tiene?
len(s1)

18

In [268]:
s1

'Esto es un ejemplo'

In [267]:
# También podemos iterar sobre ellos
vocales = [ch for ch in s1 if ch.lower() in ['a','e','i','o','u']]
vocales

['E', 'o', 'e', 'u', 'e', 'e', 'o']

Sin embargo, una diferencia principal con las listas, es que son inmutables (no los podemos modificar).

In [270]:
s1[0] = 'e'

TypeError: 'str' object does not support item assignment

### 3.1.3 Métodos de los strings

Como las listas, los objetos tipo `str` tienen una gran cantidad de métodos útiles.

Veamos algunos:

In [271]:
# string de ejemplo
s1

'Esto es un ejemplo'

In [272]:
# EN MAYÚSCULAS
s1.upper()

'ESTO ES UN EJEMPLO'

In [273]:
# en minúsculas
s1.lower()

'esto es un ejemplo'

In [278]:
s1

'Esto es un ejemplo'

In [277]:
# pregunta: comienza con?
s1.startswith('Esto')

True

In [282]:
# pregunta: termina con?
s1.endswith('ejemplo')

True

In [285]:
s1.count('es')

1

In [287]:
s2='es to es un ejemplo '
s2.count('es')

2

In [290]:
s2.find('t')

3

In [291]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

#### Entre listas y strings: métodos `split()` y `join()`

El método `str.split()` convierte un string en una lista de strings más pequeños.

Esto es supremamente útil para tomar de un string cada una de sus palabras:

In [294]:
help(texto.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the words in the string, using sep as the delimiter string.

    sep
      The delimiter according which to split the string.
      None (the default value) means split according to any whitespace,
      and discard empty strings from the result.
    maxsplit
      Maximum number of splits to do.
      -1 (the default value) means no limit.

In [292]:
texto = 'by the University of Oxford and funded'
lista_palabras = texto.split()
lista_palabras

['by', 'the', 'University', 'of', 'Oxford', 'and', 'funded']

In [296]:
texto = 'by_the_University_of_Oxford and funded'
lista_palabras = texto.split('_')
lista_palabras

['by', 'the', 'University', 'of', 'Oxford and funded']

In [299]:
lista_palabras[0:3]

['by', 'the', 'University']

O para obtener cierta información:

In [300]:
# Año, mes y día de una fecha especificada como string
fecha = "1987/4/10".split('/')
fecha

['1987', '4', '10']

In [301]:
a = fecha[0]
m = fecha[1]
d = fecha[2]

a,m,d

('1987', '4', '10')

In [302]:
d,m,a

('10', '4', '1987')

In [ ]:
# d-m-a

`str.join()` nos sirve para devolver los pasos. 

Teniendo una lista de pequeños strings, la podemos convertir en un solo string usando el string sobre el que se llama como separador:

In [303]:
# Con la fecha...
fecha_formato_new = "-".join([d,m,a])
fecha_formato_new

'10-4-1987'

### 3.1.4 Concatenación de strings

Python nos permite concatenar strings con el operador `+`:

In [304]:
# Ejemplo
hola = 'Hola'
nombre = 'Estudiante'
saludo = '¿Cómo estás?'

sal = hola + ' ' + nombre + " " + saludo
sal

'Hola Estudiante ¿Cómo estás?'

Sin embargo, hay que tener cuidado:

In [306]:
sal + 'Mi edad es: ' + '33'

'Hola Estudiante ¿Cómo estás?Mi edad es: 33'

In [308]:
# Concatenar un string con un número
n = 25
sal + 'Mi edad es: ' + str(n)

'Hola Estudiante ¿Cómo estás?Mi edad es: 25'

In [309]:
for i in range(10):
    print('El número i es: '+ str(i))

El número i es: 0
El número i es: 1
El número i es: 2
El número i es: 3
El número i es: 4
El número i es: 5
El número i es: 6
El número i es: 7
El número i es: 8
El número i es: 9

## 3.2 Diccionarios

Los diccionarios son otros objetos de Python que mapean llaves a elementos:

In [311]:
numeros = {'uno':1, 'dos':2, 'tres':3}
numeros

{'uno': 1, 'dos': 2, 'tres': 3}

In [312]:
type(numeros)

dict

En este caso, los strings "uno", "dos", y "tres" son las llaves, y los números 1, 2 y 3 son sus valores correspondientes.

Los valores son accesados con brackets, similarmente a las listas:

In [314]:
lista[0]

1

In [318]:
numeros['uno']

1

Usamos una sintaxis similar para añadir otro par llave, valor

In [319]:
numeros['cuatro']=4
numeros

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 4}

O cambiar el valor asociado a una llave existente

In [320]:
numeros['cuatro']='CUATRO'

In [321]:
numeros

{'uno': 1, 'dos': 2, 'tres': 3, 'cuatro': 'CUATRO'}

### Navegando entre listas, tuplas, diccionarios: `zip`

Supongamos que tenemos dos listas que se corresponden:

In [331]:
key_list = ['Name', 'Age', 'Eyes','Height']
value_list = ['Gaddiel', '33', 'cafes']

¿Cómo puedo asociar estos valores en un diccionario? Con `zip`:

In [332]:
# Primero, obtener la lista de pares
if len(key_list)==len(value_list):
    list(zip(key_list,value_list))
else:
    print('El tamaño de los keys y los valalues no coincide')

El tamaño de los keys y los valalues no coincide

In [334]:
# Después obtener diccionario de relaciones
dic_nombre = dict(zip(key_list,value_list))
dic_nombre

{'Name': 'Gaddiel', 'Age': '33', 'Eyes': 'cafes'}

Al ser los diccionarios iterables, puedo iterar sobre ellos (valga la redundancia)

In [335]:
# Iterar sobre diccionario
for key in dic_nombre:
    print(key, ': ',dic_nombre[key] )

Name :  Gaddiel
Age :  33
Eyes :  cafes

In [336]:
dic_nombre.values()

dict_values(['Gaddiel', '33', 'cafes'])

In [337]:
# Iterar sobre valores
for val in dic_nombre.values():
    print(val)

Gaddiel
33
cafes

In [338]:
# Iterar sobre pares llave-valor
dic_nombre.items()

dict_items([('Name', 'Gaddiel'), ('Age', '33'), ('Eyes', 'cafes')])

In [339]:
for ky,val in dic_nombre.items():
    print(key, ':', val)

Eyes : Gaddiel
Eyes : 33
Eyes : cafes

___
- Quiz 1. Comprende clases 1 y 2.